// Arduino Secrets

// WiFi
#define WIFI_SSID "your wifi/hotspot name"
#define WIFI_PASSWORD "wifi password"

// MQTT Broker
#define MQTT_URL "url of a MQTT server"
#define MQTT_USERNAME "username"
#define MQTT_PASSWORD "user's password"
#define MQTT_PORT 1883